<link href="./components/navigation/navigation.css" rel="stylesheet" />
<md-sidenav class="md-sidenav-left md-whiteframe-2" md-is-locked-open="$mdMedia('gt-md')" md-component-id="navigation">
  <md-toolbar class="md-theme-default">
    <h1 class="md-toolbar-tools">Fresh Films</h1>
  </md-toolbar>
  <md-content class="md-padding">
    <md-button ng-click="close()" hide-gt-md class="md-primary">
      Close
    </md-button>
    <ul class="docs-menu">
      <li>
        <a class="md-button md-default-theme" href="./">
        Suggestion
        </a>
      </li>
      <li>
        <a class="md-button md-default-theme" href="./films">
        All Films
        </a>
      </li>
    </ul>
  </md-content>
</md-sidenav>