<md-sidenav class="md-sidenav-left md-whiteframe-2" md-is-locked-open="$mdMedia('gt-md')" md-component-id="navigation">
  <md-toolbar class="md-theme-default">
    <h1 class="md-toolbar-tools">Angular</h1>
  </md-toolbar>
  <md-content class="md-padding">
    <md-button ng-click="close()" class="md-primary">
      Close
    </md-button>
    <ul class="side-menu">
      <li>
        <a class="md-button md-default-theme" ng-link="films">
        Films
        </a>
      </li>
    </ul>
  </md-content>
</md-sidenav>